{% extends "base.html" %}
<!DOCTYPE html>
<html>

{% block body %}
<body>
    <section class="page-section bg-primary text-white mb-0">
        <div class="container-fluid px-1 py-5 mx-auto">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-left">
                    <h1>Mobile Net notebook will be added to production server soon. Thanks for your understanding and patience.</h1>
                </div>
            </div>
        </div>
    </section>
</body>


{% endblock %}
</html>